Presentation.WPF/Service References/MobilutionServiceReference/ImageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage" />
</xs:schema>