Presentation.WPF/Service References/MobilutionServiceReference/ImageService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailOption" nillable="true" type="tns:ThumbnailOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageRequest" nillable="true" type="tns:ImageRequest" />
  <xs:complexType name="ThumbnailOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThumbnailOption" nillable="true" type="tns:ThumbnailOption" />
</xs:schema>