Presentation.WPF/Service References/MobilutionServiceReference/ImageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54321/Services/ImageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Responses" />
  <xs:import schemaLocation="http://localhost:54321/Services/ImageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Criteria" />
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Responses" minOccurs="0" name="FindResult" nillable="true" type="q1:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Criteria" minOccurs="0" name="criteria" nillable="true" type="q2:ImageCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATRealize.Mobilution.WebAPI.Responses" minOccurs="0" name="SearchResult" nillable="true" type="q3:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>